:root{ 
	--rojo:#f30c0c;
	--fondo: #141414;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background: var(--fondo);
	font-family: "Open Sans", sans-serif;
	max-height: 90px;
	overflow: hidden;
	user-select: none;
}

/* CABEZERA */

.contenedor {
	width: 95%;
	margin: auto;
}

header{
	padding: 15px 0;
}

header .contenedor{
	display: flex;
	justify-content: space-between;
	align-items: center;
}

/* LOGO HOMECINEMA */

header .logo{
	font-family: "Bebas Neue", cursive;
	font-weight: normal;
	color: var( --rojo);
	font-size: 30px;
} 

header nav {
    display: flex;
    align-items: center;
    gap: 20px; 
}

header nav a:hover,
header nav a.activo{
	color:red;
}

.portada {
	min-height: 100vh;
	color: white;
	background: url(/Formulario/netflix.jpg);
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	margin-bottom: 0;
	display: flex;
	justify-content: center; 
	align-items: center;   
}


/* formularios  centro*/

.contenedor-formularios {
	display: flex;
	justify-content: center;
	align-items: center;   
	width: 100%;
	height: 100%;         
	position: absolute;
	top: 0;
	left: 0;
}

/* fondo oscuro  y ancho */

.wrapper{
	background-color:rgba(0, 0, 0, 0.84);
	padding: 20px;
	border-radius: 15px;
	max-width: 400px;
	text-align: center;
}

/* formulario */

.titulo{
	margin-bottom: 20px;
	font-size: 20px;
	font-weight: bold;
}

.input{
	margin-bottom: 5px;
}

.input input{
	width: 100%; 
    padding: 10px;
    font-size: 11px;
    border-radius: 2px;
	background-color: #141414;
	border-color: black;
	color: #ccc;
}

button{
	margin-bottom: 20px;
	margin-top: 20px;
	width: 100%;
	padding: 10px;
	border-radius: 5px;
	border: 1px solid rgb(0, 0, 0);
	background-color: #f30c0c;
	color: #ccc;
	font-size: 15px;
	font-weight: bold;
}

button:hover{
	background-color: #141414;
}
